.header
  .header__main
    .app_title.text-white
      = link_to "Sharebook", root_path , class: "text-white"
    %ul.user-box.nav.nav-pills
      - if user_signed_in?
        -# %li.user-list
        -#   = link_to "マイページ",user_path(current_user.id)
        %li.user-list
          = link_to "ログアウト",destroy_user_session_path, method: :delete, class: ""

      - else
        %li.user-list
          = link_to "新規登録", new_user_registration_path, class: "" 
        %li.user-list
          = link_to "ログイン", new_user_session_path, class: ""

